footer img {
    max-width: 300px;
}
header .container { 
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu {
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu a {
    color: #fff;
    text-decoration: none;
    font-size: 1.3rem;
}
ul {
    list-style: none;
}
i, h2 {
    color: #007bff;
}
h2 {
    text-transform: uppercase;
    font-size: 1.5rem;
}
h1 {
    text-transform: uppercase;
}
.hero-tag {
    color: #fff;
}